.slotcontainer{
    position:relative;
    width: 100%;
    display: inline-block;
    margin: auto auto 70px auto;
}
h1{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: -.75px;
    display: flex;
    align-items: center;
    margin: 0 0 4px;
    font-family: 'Nanum Myeongjo', serif;
    text-align: left;
    color: #212121;
}
h2{
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 25px;
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.45;
    letter-spacing: -1px;
    text-align: left;
    color: #9e9e9e;
}
h2 span{
    font-size: 15px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: -.75px;
    text-align: right;
    align-self: flex-end;
}
.slotcontainer .slotdetailcon{
    display:flex;
    float:left;
    width : 100%;
}
.slotcontainer .slotdetailcon .slotdetail{
    width : 25%;
    padding-left: 8px;
    padding-right: 8px;
    float:left;
    display:block;
    position: relative;
}
.slotcontainer .slotdetailcon .slotdetail .slotdetailimgcon{
    position: relative;
    width: 100%;
    padding-bottom: 67.53%;
    margin-bottom: 10px;
}
.slotcontainer .slotdetailcon .slotdetail .slotdetailimgcon img{
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slotcontainer .slotdetailcon .slotdetail h1{
    height: 48px;
    margin: 0 0 7px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 15ch;
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #212121;
    word-break: keep-all;
    font-family: SourceHanSerifK;
    padding-left : 0;
}
.slotcontainer .slotdetailcon .slotdetail h2{
    height: 37px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 12px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.58;
    letter-spacing: -.3px;
    text-align: left;
    color: #212121;
    word-break: keep-all;
    margin: 0 0 19.5px;
    padding-left : 0;
}
.slotcontainer .slotdetailcon .slotdetail .slotdetailadddate h2{
    color : #757575;
    margin : 0;
    height : auto;
    padding-top : 3px;
}
.slotcontainer .slotdetailcon .slotdetail .slotdetailadddate h2:first-child{
    border-top : 1px solid #979797;
    padding-top : 5px;
}

@media(max-width:800px){
    .slotcontainer .slotdetailcon .slotdetail{width : 50%}
  }